
* {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 100%;
  margin: 0 auto;
}
.container.flex{
  display: flex;
  flex-direction: column;
}
header {
  width: 100%;
  background-color:grey;
  height: 140px;
}
.head{
width:100%;
padding: 10px; 
height:120px;
}
.text 
{
width:90%; 
background: purple;
color: black;
padding:10px; 

}
.head img {
  width: 100px;
  height: 120px;
  float: left;
  margin: 10px;
}

.navigation {
  list-style: none;
  display: inline-block;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: plum;
  height: 60px;
  width: 100%;
  text-align: center;
  align-content: center;
}
#list{
  order: 1;
}
.main-table {
 order: 3;
  margin: 20px;
  height: 200px;
  width: auto;
  border: 1px solid black;
  border-collapse: collapse;
}
.main-table td {
  border: 1px solid black;
  text-align: center;
}
.main-table tr:nth-child(1) {
  background-color: plum;
}
.content li {
  margin-left: 25px;
  height: auto;
}
form {
order: 2;
  margin: 20px;
}

footer {
  width: 100%;
  background-color: grey;
  height: 100px;
}


@media screen and (min-width: 768px)
{
* {
    margin: 0;
    padding: 0;
  }
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
  header {
    width: 100%;
    background-color:grey;
    height: 140px;
  }
  .head{
	width:100%;
	padding: 10px; 
	height:120px;
}
  .text 
{
	width:100%; 
background: purple;
 color: black;
 padding:10px; 

 }
  .head img {
    width: 100px;
    height: 120px;
    float: left;
    margin: 10px;
  }
  #list{
    order: initial;
  }
  .navigation {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: plum;
    height: 35px;
    align-content: center;
  }
  .main-table {
    order: initial;
    margin: 20px;
    height: 200px;
    width: 450px;
    border: 1px solid black;
    border-collapse: collapse;
  }
  .main-table td {
    border: 1px solid black;
    text-align: center;
  }
  .main-table tr:nth-child(1) {
    background-color: plum;
  }
  .content li {
    margin-left: 25px;
    height: auto;
  }
  form {
    margin: 20px;
    order: initial;
  }
  
  footer {
    width: 100%;
    background-color: grey;
    height: 100px;
  }
}