
* {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 100%;
  margin: 0 auto;
}
header {
  width: 100%;
  background-color:grey;
  height: 140px;
}
.head{
width:100%;
padding: 10px; 
height:120px;
}
.text 
{
width:90%; 
background: purple;
color: black;
padding:10px; 

}
.head img {
  width: 100px;
  height: 120px;
  float: left;
  margin: 10px;
}
#fon{
  background-color: plum;
}
.slick-arrow {
  background-color: rgba(0, 0, 0, 0.50) !important;
  width: 50px !important;
  height: 50px !important;
  border: 5px purple solid;
  border-radius: 25px;
  margin-left: 0px;
  margin-right: 0px;
  z-index: 2000;
}
.slider{
margin: 2% auto;
width: 50%;
background-color: white;
border-radius: 25px;
}

footer {
  width: 100%;
  background-color: grey;
  height: 100px;
}


