*{
	padding: 0px;
	margin: 0px;
}

.head {
	width:100%;
	background-color:#ccc;
	padding: 10px; 
	height:120px;	
}

.image {
	float:left;
	margin:10px;
	width:100px;
	height:100px;
}

.text {
	background-color:#ddd;
	padding:10px;
}
